@page
@model KanjiCue.Pages.Vocabs.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Vocab</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Vocab.Id" />
            <div class="form-group">
                <label asp-for="Vocab.Term" class="control-label"></label>
                <input asp-for="Vocab.Term" class="form-control" />
                <span asp-validation-for="Vocab.Term" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vocab.Kanji" class="control-label"></label>
                <input asp-for="Vocab.Kanji" class="form-control" />
                <span asp-validation-for="Vocab.Kanji" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vocab.English" class="control-label"></label>
                <input asp-for="Vocab.English" class="form-control" />
                <span asp-validation-for="Vocab.English" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vocab.Class" class="control-label"></label>
                <input asp-for="Vocab.Class" class="form-control" />
                <span asp-validation-for="Vocab.Class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
